---
### REQUIRED
namespace: {{ collection_namespace | lower }}
name: {{ collection_name | lower }}
version: {{ collection_version }}

readme: README.md

authors:
  - {{ collection_author_email }}

### OPTIONAL but strongly recommended
description: >
  {{ collection_description }}

license:
- {{ collection_licence_spdx }}

tags: 
  - devops
  - collection
  - ansible

dependencies: {}

repository: {{ collection_repository_https }}/{{ collection_namespace }}/{{ collection_name }}
documentation: {{ collection_repository_https }}/{{ collection_namespace }}/{{ collection_name }}/README.md
homepage: {{ collection_repository_https }}/{{ collection_namespace }}/{{ collection_name }}
issues: {{ collection_repository_https }}/{{ collection_namespace }}/{{ collection_name }}/issues

build_ignore:
  - .gitignore
  - '.*.swp'
  - .govmomi
  - '.terraform*'
  - 'terraform.tfstate*'
  - .DS_Store
  - .vscode
  - '.*.tar.gz'
  - '*.zip'