---
requires_ansible: '>={{ ansible_current_version | default('2.12') }}'

#action_groups:
#  # let's keep this in alphabetical order
#  {{ collection_name }}:
#    - example_module_get
#    - example_module_delete